body {
	padding : 30px;
}

iframe {
    border:2px solid #16a085;
}

#orientationDiv {
    padding-top: 22px;
    
}

/*#dimensions {
    margin-bottom: 0px;
    margin-top: 6px;
}*/

#selectDiv {
    margin-bottom: 0px;
    
}

#runTestDiv {

}

#momoSelect {
}

a#controllerUrl {
    cursor: pointer;
} 