/* General Demo Style */
@font-face {
    font-family: 'Nova Square';
    font-style: normal;
    font-weight: 400;
    src: local('Nova Square'), local('NovaSquare'), url(../../assets/fonts/NovaSquare.woff) format('woff');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 200;
    src: url(../../assets/fonts/zuuDDmIlQfJeEM3Uf6kkpnYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    src: url(../../assets/fonts/f8qltGyj2S-SS_tsOHsjgXYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(../../assets/fonts/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(../../assets/fonts/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(../../assets/fonts/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;background: #000;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #fff;
	background: #000;
    overflow: hidden;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

/* Header Style */
.codrops-top {
	text-transform: uppercase;
	position: relative;
	z-index: 1000;
	font-size: 0.68em;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: rgba(255,255,255,0.2);
	/*display: inline-block;*/
}

.codrops-top a:hover {
	color: rgba(255,255,255,0.9);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	/*display: block;*/
}
