.navbar .btn-navbar:before {
	content:"\f0c9";
	font-family:"Flat-UI-Icons";
	font-size:21.994px;
	font-style:normal;
	font-weight:normal;
	-webkit-font-smoothing:antialiased;
}
blockquote {
	position:relative;
	border-left:none;
	padding-left:19px;
	padding-right:19px;
}
.demo-row.typography-row .text-note {
	bottom:auto;
	top:10px;
	padding-left:20px;
}
.demo-title {
	margin:18px 10px 2px 10px !important;
	width:240px;
	line-height:40px;
	text-align:center;
}
.navbar .demo-title {
	font-size:15px;
}
.navbar .brand {
	padding:28px 28px 24px 32px;
}
.demo-title .brand {
	margin:10px;
}
