
.android.range-dot {
    background: #39b;
    border: 2px solid #fff;
    background: #1d5970;
    border-radius: 28px;
    z-index: 2;
}
.android.range-bar {
    z-index: 1;
    background: #34bcee;
    pointer-events: none;
}
.android.range-background {
    z-index: 0;
    background: #404143;
}
.android.range-dot::selection {
    background: none;
}
.android.range-bar::selection {
    background: none;
}
.android.range-background::selection {
    background: none;
}
